[aiq-sail-on]
experiment_type = SAIL-ON
username = demo@example.com
secret = 2d51a2672cbd4346985da63bdb947a00
organization = DemoOrg
model_name = DemoAgent42

[sail-on]
domain = vizdoom
experiment_secret = 25105a9d149946eaa5c7845fc2c405af

[amqp]
user = bunny
pass = gvC1Ik5i3w
host = rabbit
vhost = /
port = 5672
ssl = False

