[aiq-sail-on]
experiment_type = SAIL-ON
username = mriedl3@gatech.edu
secret = 3f70ff188fca408a884535a780f5084a
organization = GaTech
model_name = mockn-eval-01

[sail-on]
domain = vizdoom
experiment_secret = 8691ff433191490d8de797cb9c511b83

[amqp]
user = mockn_gatech_ta2
pass = 29ba8806636f78ff36fdd86d0843163b
host = aiq.ailab.wsu.edu
vhost = /mockn
port = 5671
ssl = True

